.card {
  max-width: 1270px;
  background-color: #b2d235;
  margin: 0 auto;
  padding: 40px; /* Поля вокруг текста */
  outline: 2px solid #fff; /* Параметры рамки */
  outline-offset: -20px;
  margin: 10px;
}
